<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Bearing</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    </style>
</head>
<body style="background-color: #F2F4F8; display: flex;">

<!-- 사이드바 -->
<div style="background: white; width: 20%; height: 100%;">
    <div style="padding: 15%;">
        <img src="images/logo_X.png" width="100%">
    </div>

    <div class="sidebar-row drag-prevent">
        <div class="sidebar-icon">
            <img src="images/label.png" width="100%">
        </div>
        <div class="sidebar-text">사원코드</div>
    </div>
    <div class="sidebar-row drag-prevent">
        <div class="sidebar-icon">
            <img src="images/folders.png" width="100%">
        </div>
        <div class="sidebar-text">부서</div>
    </div>
    <div class="sidebar-row drag-prevent">
        <div class="sidebar-icon">
            <img src="images/user.png" width="100%">
        </div>
        <div class="sidebar-text">이름</div>
    </div>
    <div class="sidebar-row drag-prevent">
        <div class="sidebar-icon">
            <img src="images/calendar.png" width="100%">
        </div>
        <div class="sidebar-text">생일</div>
    </div>
    <div class="sidebar-row drag-prevent">
        <div class="sidebar-icon">
            <img src="images/phone.png" width="100%">
        </div>
        <div class="sidebar-text">연락처</div>
    </div>

    <div style="height: 1px; margin: 5% 10%; background: black;"></div>

    <div class="sidebar-row drag-prevent cursor-pointer hover-bg-grey" onclick="window.location.href='/dashboard'">
        <div class="sidebar-icon">
            <img src="images/chart.png" width="100%">
        </div>
        <div class="sidebar-text">Dashboard</div>
    </div>
    <div class="sidebar-row drag-prevent cursor-pointer hover-bg-grey" onclick="window.location.href='/notification'">
        <div class="sidebar-icon">
            <img src="images/bell.png" width="100%">
        </div>
        <div class="sidebar-text">Notification</div>
    </div>

    <div style="position: fixed; bottom: 2%; left: 4%; width: 20%" onclick="logout()">
        <div class="sidebar-row drag-prevent cursor-pointer">
            <div class="sidebar-icon">
                <img src="images/logout.png" width="100%">
            </div>
            <div style="padding-left: 8%; font-size: 20px;">
                로그아웃
            </div>
        </div>
    </div>
</div>

<!-- main -->
<div style="width: 80%; height: 95%; overflow: auto;">
    <div class="layout-title">
        Employee Management
    </div>
    <div>
        <div class="main-title-row drag-prevent">
            <div style="width: 10%">사원코드</div>
            <div style="width: 20%">사원명</div>
            <div style="width: 15%">부서명</div>
            <div style="width: 15%">권한</div>
            <div style="width: 20%">사내 이메일</div>
            <div style="width: 10%">연락처</div>
            <div style="width: 10%">생년월일</div>
        </div>
        <div class="main-row drag-prevent">
            <div style="width: 10%">1001</div>
            <div style="width: 20%">홍길동</div>
            <div style="width: 15%">데이터 분석</div>
            <div style="width: 15%">데이터1</div>
            <div style="width: 20%">hgd@gmail.com</div>
            <div style="width: 10%">영업</div>
            <div style="width: 10%">2001-01-01</div>
        </div>
        <div class="main-row drag-prevent">
            <div style="width: 10%">1001</div>
            <div style="width: 20%">홍길동</div>
            <div style="width: 15%">데이터 분석</div>
            <div style="width: 15%">데이터1</div>
            <div style="width: 20%">hgd@gmail.com</div>
            <div style="width: 10%">영업</div>
            <div style="width: 10%">2001-01-01</div>
        </div>
        <div class="main-row drag-prevent">
            <div style="width: 10%">1001</div>
            <div style="width: 20%">홍길동</div>
            <div style="width: 15%">데이터 분석</div>
            <div style="width: 15%">데이터1</div>
            <div style="width: 20%">hgd@gmail.com</div>
            <div style="width: 10%">영업</div>
            <div style="width: 10%">2001-01-01</div>
        </div>
        <div class="main-row drag-prevent">
            <div style="width: 10%">1001</div>
            <div style="width: 20%">홍길동</div>
            <div style="width: 15%">데이터 분석</div>
            <div style="width: 15%">데이터1</div>
            <div style="width: 20%">hgd@gmail.com</div>
            <div style="width: 10%">영업</div>
            <div style="width: 10%">2001-01-01</div>
        </div>
        <div class="main-row drag-prevent">
            <div style="width: 10%">1001</div>
            <div style="width: 20%">홍길동</div>
            <div style="width: 15%">데이터 분석</div>
            <div style="width: 15%">데이터1</div>
            <div style="width: 20%">hgd@gmail.com</div>
            <div style="width: 10%">영업</div>
            <div style="width: 10%">2001-01-01</div>
        </div>
        <div class="main-row drag-prevent">
            <div style="width: 10%">1001</div>
            <div style="width: 20%">홍길동</div>
            <div style="width: 15%">데이터 분석</div>
            <div style="width: 15%">데이터1</div>
            <div style="width: 20%">hgd@gmail.com</div>
            <div style="width: 10%">영업</div>
            <div style="width: 10%">2001-01-01</div>
        </div>
        <div class="main-row drag-prevent">
            <div style="width: 10%">1001</div>
            <div style="width: 20%">홍길동</div>
            <div style="width: 15%">데이터 분석</div>
            <div style="width: 15%">데이터1</div>
            <div style="width: 20%">hgd@gmail.com</div>
            <div style="width: 10%">영업</div>
            <div style="width: 10%">2001-01-01</div>
        </div>
        <div class="main-row drag-prevent">
            <div style="width: 10%">1001</div>
            <div style="width: 20%">홍길동</div>
            <div style="width: 15%">데이터 분석</div>
            <div style="width: 15%">데이터1</div>
            <div style="width: 20%">hgd@gmail.com</div>
            <div style="width: 10%">영업</div>
            <div style="width: 10%">2001-01-01</div>
        </div>
        <div class="main-row drag-prevent">
            <div style="width: 10%">1001</div>
            <div style="width: 20%">홍길동</div>
            <div style="width: 15%">데이터 분석</div>
            <div style="width: 15%">데이터1</div>
            <div style="width: 20%">hgd@gmail.com</div>
            <div style="width: 10%">영업</div>
            <div style="width: 10%">2001-01-01</div>
        </div>
        <div class="main-row drag-prevent">
            <div style="width: 10%">1001</div>
            <div style="width: 20%">홍길동</div>
            <div style="width: 15%">데이터 분석</div>
            <div style="width: 15%">데이터1</div>
            <div style="width: 20%">hgd@gmail.com</div>
            <div style="width: 10%">영업</div>
            <div style="width: 10%">2001-01-01</div>
        </div>
        <div class="main-row drag-prevent">
            <div style="width: 10%">1001</div>
            <div style="width: 20%">홍길동</div>
            <div style="width: 15%">데이터 분석</div>
            <div style="width: 15%">데이터1</div>
            <div style="width: 20%">hgd@gmail.com</div>
            <div style="width: 10%">영업</div>
            <div style="width: 10%">2001-01-01</div>
        </div>
        <div class="main-row drag-prevent">
            <div style="width: 10%">1001</div>
            <div style="width: 20%">홍길동</div>
            <div style="width: 15%">데이터 분석</div>
            <div style="width: 15%">데이터1</div>
            <div style="width: 20%">hgd@gmail.com</div>
            <div style="width: 10%">영업</div>
            <div style="width: 10%">2001-01-01</div>
        </div>
        <div class="main-row drag-prevent">
            <div style="width: 10%">1001</div>
            <div style="width: 20%">홍길동</div>
            <div style="width: 15%">데이터 분석</div>
            <div style="width: 15%">데이터1</div>
            <div style="width: 20%">hgd@gmail.com</div>
            <div style="width: 10%">영업</div>
            <div style="width: 10%">2001-01-01</div>
        </div>
        <div class="main-row drag-prevent">
            <div style="width: 10%">1001</div>
            <div style="width: 20%">홍길동</div>
            <div style="width: 15%">데이터 분석</div>
            <div style="width: 15%">데이터1</div>
            <div style="width: 20%">hgd@gmail.com</div>
            <div style="width: 10%">영업</div>
            <div style="width: 10%">2001-01-01</div>
        </div>
        <div class="main-row drag-prevent">
            <div style="width: 10%">1001</div>
            <div style="width: 20%">홍길동</div>
            <div style="width: 15%">데이터 분석</div>
            <div style="width: 15%">데이터1</div>
            <div style="width: 20%">hgd@gmail.com</div>
            <div style="width: 10%">영업</div>
            <div style="width: 10%">2001-01-01</div>
        </div>
        <div class="main-row drag-prevent">
            <div style="width: 10%">1001</div>
            <div style="width: 20%">홍길동</div>
            <div style="width: 15%">데이터 분석</div>
            <div style="width: 15%">데이터1</div>
            <div style="width: 20%">hgd@gmail.com</div>
            <div style="width: 10%">영업</div>
            <div style="width: 10%">2001-01-01</div>
        </div>
        <div class="main-row drag-prevent">
            <div style="width: 10%">1001</div>
            <div style="width: 20%">홍길동</div>
            <div style="width: 15%">데이터 분석</div>
            <div style="width: 15%">데이터1</div>
            <div style="width: 20%">hgd@gmail.com</div>
            <div style="width: 10%">영업</div>
            <div style="width: 10%">2001-01-01</div>
        </div>
        <div class="main-row drag-prevent">
            <div style="width: 10%">1001</div>
            <div style="width: 20%">홍길동</div>
            <div style="width: 15%">데이터 분석</div>
            <div style="width: 15%">데이터1</div>
            <div style="width: 20%">hgd@gmail.com</div>
            <div style="width: 10%">영업</div>
            <div style="width: 10%">2001-01-01</div>
        </div>
        <div class="main-row drag-prevent">
            <div style="width: 10%">1001</div>
            <div style="width: 20%">홍길동</div>
            <div style="width: 15%">데이터 분석</div>
            <div style="width: 15%">데이터1</div>
            <div style="width: 20%">hgd@gmail.com</div>
            <div style="width: 10%">영업</div>
            <div style="width: 10%">2001-01-01</div>
        </div>
        <div class="main-row drag-prevent">
            <div style="width: 10%">1001</div>
            <div style="width: 20%">홍길동</div>
            <div style="width: 15%">데이터 분석</div>
            <div style="width: 15%">데이터1</div>
            <div style="width: 20%">hgd@gmail.com</div>
            <div style="width: 10%">영업</div>
            <div style="width: 10%">2001-01-01</div>
        </div>
    </div>
</div>

</body>
</html>