<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Bearing</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/script.js"></script>
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin : 0;
        }
    </style>
</head>
<body style="background-color: #F2F4F8;">
<div class="center-outer-div">
    <div class="center-inner-div" style="text-align: center;">
        <div class="center-box-title" style="width: 300px; text-align: center; margin-bottom: 70px;">
            Sign Up
        </div>

        <form>
            <input class="center-box-input" placeholder="Employee ID">
            <div>
                <input class="center-box-input" placeholder="Business Email" style="display: inline-block; width: 154px; margin-right: 5px">
                <button class="center-box-btn bg-charcoal" style="display: inline-block; width: 110px;" type="button" onclick="checkEmployee()">CONFIRM</button>
            </div>
            <input id="signup_id" class="center-box-input" placeholder="ID" disabled>
            <input id="signup_password" class="center-box-input" placeholder="Password" type="password" disabled>
            <button class="center-box-btn bg-blue" type="submit">SIGN UP</button>
            <a class="a-blue" href="/login">Return to Login page</a>
        </form>
    </div>
</div>
</body>
</html>